.tausta {
 background-color: #ffd9b3;
}

 .teksti {
  padding: 15px;
  margin: 15px;
}

.me2 {
 width: 30%;
    float: right;
 margin-right: 8px;
 margin-top: 8px;
 margin-bottom: 8px;
}

.me3 {
 width: 30%;
    float: left;
 margin-right: 8px;
 margin-top: 8px;
   margin-bottom: 8px;

}

    #footer {
      background-color: #404040;
      clear: both;
      font-size: 17px;
      color: white;
      text-align: center;
      position: relative;
    }

.blog-img {
 width: 30%;
}

.kauppa-img {
 width: 200px
}


