.tausta {
 background-color: #ffd9b3;
}

 #teksti {
  padding: 15px;
  margin: 15px;
}

.me2 {
 width: 30%;
    float: right;
    padding: 20px;
    margin: 25px;
}

.me3 {
 width: 30%;
    float: right;
    padding: 20px;
    margin: 25px;
}

    #footer {
      background-color: #404040;
      clear: both;
      font-size: 17px;
      color: white;
      text-align: center;
      position: relative;
    }

.kauppa-img {
    width: 261px;
    height: 200px;
    object-fit: cover;
}
