.tausta {
 background-color: #ffd9b3;
}

.me {
 width: 10%;
    float: right;
    padding: 20px;
    margin: 25px;
}

.me2 {
 width: 10%;
    float: right;
    padding: 20px;
    margin: 25px;
}

.me3 {
 width: 10%;
    float: right;
    padding: 20px;
    margin: 25px;
}


